{{#each beverages as |beverage|}}

    {{#if beverage}}
        <tr data-id="{{beverage.id}}">
          <td align="left">{{beverage.rating}}</td>
          <td align="left">{{beverage.name}}</td>
          <td align="left">{{beverage.description}}</td>
          <td align="left">{{beverage.occasion}}</td>
          <td><button id="delBvgBttn" value="{{beverage.id}}" name='delete' type='click'>Delete</button></td>
          <td><button id="modBvgBttn" value="{{beverage.id}}" name='modify' type='click'>Modify</button></td>
        </tr>
{{else}}
    There are no beverages on record.
{{/if}}

{{/each}}
