{{#each drinks as |drink|}}

    {{#if drink}}
        <tr data-id="{{drink.idDrink}}">
          <td valign="top" align="left">{{drink.strDrink}}</td>
          <td valign="top" align="left">{{drink.strAlcoholic}}</td>
          <td valign="top" align="left">{{drink.strCategory}}</td>
          <td valign="top" align="left">
            {{drink.strMeasure1}} {{drink.strIngredient1}}<br>
            {{drink.strMeasure2}} {{drink.strIngredient2}}<br>
            {{drink.strMeasure3}} {{drink.strIngredient3}}<br>
            {{drink.strMeasure4}} {{drink.strIngredient4}}<br>
            {{drink.strMeasure5}} {{drink.strIngredient5}}<br>
            {{drink.strMeasure6}} {{drink.strIngredient6}}<br>
            {{drink.strMeasure7}} {{drink.strIngredient7}}<br>
            {{drink.strMeasure8}} {{drink.strIngredient8}}<br>
            {{drink.strMeasure9}} {{drink.strIngredient9}}<br>
            {{drink.strMeasure10}} {{drink.strIngredient10}}
          </td>
          <td valign="top" align="left">{{drink.strInstructions}}</td>
        </tr>
{{else}}
    <p>We are unable to connect to <a href="https://www.thecoctaildb.com">The Coctail DB</a> to get your request.  Please try again later.</p>
{{/if}}

{{/each}}
