{{#each drinks as |drink|}}

    {{#if drink}}
        <tr data-id="{{drink.idDrink}}">
          <td align="left">{{drink.strDrink}}</td>
          <td align="left">{{drink.strAlcoholic}}</td>
          <td align="left">{{drink.strCategory}}</td>
          <td align="left">
            {{strMeasure1}} {{strIngredient1}}<br>
            {{strMeasure2}} {{strIngredient2}}<br>
            {{strMeasure3}} {{strIngredient3}}<br>
            {{strMeasure4}} {{strIngredient4}}<br>
            {{strMeasure5}} {{strIngredient5}}<br>
            {{strMeasure6}} {{strIngredient6}}<br>
            {{strMeasure7}} {{strIngredient7}}<br>
            {{strMeasure8}} {{strIngredient8}}<br>
            {{strMeasure9}} {{strIngredient9}}<br>
            {{strMeasure10}} {{strIngredient10}}
          </td>
          <tdalign="left">{{strInstructions}}</td>
        </tr>
{{else}}
    <p>We are unable to connect to <a href="https://www.thecoctaildb.com">The Coctail DB</a> to get your request.  Please try again later.</p>
{{/if}}

{{/each}}
